SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
EPOCH_POOL_DBF=100000
PORT=8787
INDEXER_SECRET=
HELIUS_API_KEY=
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
WATCH_WALLETS=
TOKEN_MINT=4C9ycNvkDZMxvF6cWPa5qfMHMSbu8vB7nK6MVpKspump
TREASURY_WALLET=DBFnC5gJ7ZuuXafiwBLuZjMj9F2dbnBXJ1J44sA2hqwD
